<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacia EL Javillo</title>
    <link rel="icon" href="/static/img/logo-fj.png">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar background-color-secondary-custom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto">
                <div class="btn text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar-menu">
                    <i class="fa-solid fa-bars" style="font-size: 25px"></i>
                </div>
            </div>
            <div class="col-auto">
                <a class="navbar-brand" href="#">
                    <img src="/static/img/logo-fj.png" alt="Logo Farmacia El Javillo" class="justify-content-center" style="max-width: 40px;">
                </a>
            </div>
            <div class="col-auto">
                <div class="navbar-brand text-white fw-bold">Farmacia El Javillo</div>
            </div>
        </div>
    </div>
</nav>
<div id="menu-container"></div>
<main>
    <table class="table">
        <thead class="table-light">
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Cantidad Disponible</th>
        <th>Campo</th>
        </thead>
        <tbody>
         <tbody>
            <tr>
              <td>1,001</td>
              <td>random</td>
              <td>data</td>
              <td>placeholder</td>
              <td>text</td>
            </tr>
            <tr>
              <td>1,002</td>
              <td>placeholder</td>
              <td>irrelevant</td>
              <td>visual</td>
              <td>layout</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>data</td>
              <td>rich</td>
              <td>dashboard</td>
              <td>tabular</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>information</td>
              <td>placeholder</td>
              <td>illustrative</td>
              <td>data</td>
            </tr>
            <tr>
              <td>1,004</td>
              <td>text</td>
              <td>random</td>
              <td>layout</td>
              <td>dashboard</td>
            </tr>
            <tr>
              <td>1,005</td>
              <td>dashboard</td>
              <td>irrelevant</td>
              <td>text</td>
              <td>placeholder</td>
            </tr>
            <tr>
              <td>1,006</td>
              <td>dashboard</td>
              <td>illustrative</td>
              <td>rich</td>
              <td>data</td>
            </tr>
            <tr>
              <td>1,007</td>
              <td>placeholder</td>
              <td>tabular</td>
              <td>information</td>
              <td>irrelevant</td>
            </tr>
            <tr>
              <td>1,008</td>
              <td>random</td>
              <td>data</td>
              <td>placeholder</td>
              <td>text</td>
            </tr>
            <tr>
              <td>1,009</td>
              <td>placeholder</td>
              <td>irrelevant</td>
              <td>visual</td>
              <td>layout</td>
            </tr>
            <tr>
              <td>1,010</td>
              <td>data</td>
              <td>rich</td>
              <td>dashboard</td>
              <td>tabular</td>
            </tr>
            <tr>
              <td>1,011</td>
              <td>information</td>
              <td>placeholder</td>
              <td>illustrative</td>
              <td>data</td>
            </tr>
            <tr>
              <td>1,012</td>
              <td>text</td>
              <td>placeholder</td>
              <td>layout</td>
              <td>dashboard</td>
            </tr>
            <tr>
              <td>1,013</td>
              <td>dashboard</td>
              <td>irrelevant</td>
              <td>text</td>
              <td>visual</td>
            </tr>
            <tr>
              <td>1,014</td>
              <td>dashboard</td>
              <td>illustrative</td>
              <td>rich</td>
              <td>data</td>
            </tr>
            <tr>
              <td>1,015</td>
              <td>random</td>
              <td>tabular</td>
              <td>information</td>
              <td>text</td>
            </tr>
          </tbody>
{#        {% for medicamento in medicamentos %}#}
{#            <tr>#}
{#                <td>{{ medicamento.nombre }}</td>#}
{#                <td>{{ medicamento.descripcion }}</td>#}
{#                <td>{{ medicamento.precio }}</td>#}
{#                <td>{{ medicamento.cantidad_disponible }}</td>#}
{#            </tr>#}
{#        {% endfor %}#}
        </tbody>
    </table>
</main>
<footer class="background-color-secondary-custom">
    <p>Pie de página - © 2024</p>
</footer>

<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/8fdf9ca4cd.js" crossorigin="anonymous"></script>
<script src="/static/js/script.js"></script>
</body>
</html>
